.App {
    min-height: 100vh;

    text-align: center;

    position: relative;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.conclusion_cont {
    position: fixed;
    top: 49%;
    left: 50%;

    height: min-content;
    max-width: 550px;
    width: 100%;
    padding: 16px;

    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    place-content: center;
    align-items: center;
    gap: 24px;

    transform: translate(-50%, -50%);
    overflow: visible;
    z-index: 1;
}

.conclusion {
    height: auto;
    width: 100%;

    flex: 0 0 auto;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;

    opacity: 0;
    transform: perspective(1200px) translateY(20px);
    position: relative;
}

.conclusion_text {
    color: var(--elevation_12);

    font-family: var(--font_lora);
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 170%;
    text-align: center;
}
