@import url('https://fonts.googleapis.com/css?family=Heebo:regular,bold|Lora:regular,bold');

body {
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font_heebo), serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
